# This is Git's per-user configuration file.

[user]
# Please adapt and uncomment the following lines:
	name = Odin Kroeger
	email = odkr@users.noreply.github.com 
	signingkey = 0x6B06A2E03BE31BE9
[commit]
	gpgsign = true
[tag]
	gpgsign = true
	sort = -version:refname
[versionsort]
	suffix = -
[pull]
	rebase = false
[init]
	defaultBranch = main
