include "~/.nano/csv.nanorc"
include "~/.nano/zsh.nanorc"
include "~/.nano/vi.nanorc"
include "~/.nano/asm.nanorc"
include "~/.nano/xresources.nanorc"
include "~/.nano/yaml.nanorc"
include "~/.nano/x11basic.nanorc"
include "~/.nano/mpdconf.nanorc"
include "~/.nano/js.nanorc"
include "~/.nano/json.nanorc"
include "~/.nano/coffeescript.nanorc"
include "~/.nano/java.nanorc"
include "~/.nano/cmake.nanorc"
include "~/.nano/keymap.nanorc"
include "~/.nano/perl.nanorc"
include "~/.nano/dot.nanorc"
include "~/.nano/conf.nanorc"
include "~/.nano/haskell.nanorc"
include "~/.nano/systemd.nanorc"
include "~/.nano/csh.nanorc"
include "~/.nano/dotenv.nanorc"
include "~/.nano/tcl.nanorc"
include "~/.nano/git.nanorc"
include "~/.nano/nmap.nanorc"
include "~/.nano/email.nanorc"
include "~/.nano/apacheconf.nanorc"
include "~/.nano/sh.nanorc"
include "~/.nano/zshrc.nanorc"
include "~/.nano/groff.nanorc"
include "~/.nano/awk.nanorc"
include "~/.nano/reST.nanorc"
include "~/.nano/sieve.nanorc"
include "~/.nano/etc-hosts.nanorc"
include "~/.nano/perl6.nanorc"
include "~/.nano/html.nanorc"
include "~/.nano/go.nanorc"
include "~/.nano/php.nanorc"
include "~/.nano/xml.nanorc"
include "~/.nano/lisp.nanorc"
include "~/.nano/sql.nanorc"
include "~/.nano/ical.nanorc"
include "~/.nano/cython.nanorc"
include "~/.nano/nanorc.nanorc"
include "~/.nano/lua.nanorc"
include "~/.nano/inputrc.nanorc"
include "~/.nano/swift.nanorc"
include "~/.nano/toml.nanorc"
include "~/.nano/fish.nanorc"
include "~/.nano/c.nanorc"
include "~/.nano/asciidoc.nanorc"
include "~/.nano/moonscript.nanorc"
include "~/.nano/nginx.nanorc"
include "~/.nano/peg.nanorc"
include "~/.nano/python.nanorc"
include "~/.nano/gitcommit.nanorc"
include "~/.nano/javascript.nanorc"
include "~/.nano/css.nanorc"
include "~/.nano/markdown.nanorc"
include "~/.nano/tex.nanorc"
include "~/.nano/ini.nanorc"
include "~/.nano/po.nanorc"
